@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Righteous&family=Roboto+Condensed&display=swap");
body {
  font-family: "Open Sans", Sans-Serif;
  background: #f0f4f8;
  font-weight: 400;
  line-height: 1.75;
  color: #102a43;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Condensed", Sans-Serif;
  line-height: 1.3;
  text-transform: capitalize;
}

h1 {
  font-size: clamp(2rem, 4.8vw, 2.5rem);
}

h2 {
  font-size: clamp(1.5rem, 4.2vw, 2rem);
}

h3 {
  font-size: clamp(1.3rem, 3.7vw, 1.73rem);
}

h4 {
  font-size: clamp(1.1rem, 3vw, 1.45rem);
}

h5 {
  font-size: clamp(0.8rem, 2.5vw, 1.1rem);
}

a {
  text-decoration: none;
}

p {
  font-size: clamp(0.7rem, 2.3vw, 1rem);
}

/* Button in file upload input field */
input::file-selector-button {
  font-weight: bold;
  color: #00accf;
  background-color: #f0f4f8;
  padding: 0.5em;
  border: none;
  cursor: pointer;
  transition: 0.3s ease-in-out all;
}

input::file-selector-button:hover {
  background-color: #00accf;
  color: #f0f4f8;
  border-radius: 5px;
}

/* Remove the Spinner in number input field */
input[type="number"] {
  -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
