@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Righteous&family=Roboto+Condensed&display=swap");
body {
  font-family: "Open Sans", Sans-Serif;
  background: #f0f4f8;
  font-weight: 400;
  line-height: 1.75;
  color: #102a43;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Condensed", Sans-Serif;
  line-height: 1.3;
  text-transform: capitalize;
}

h1 {
  font-size: clamp(2.441rem, 5.5vw, 3.052rem);
}

h2 {
  font-size: clamp(1.953rem, 5vw, 2.441rem);
}

h3 {
  font-size: clamp(1.563rem, 4vw, 1.953rem);
}

h4 {
  font-size: clamp(1.25rem, 3.5vw, 1.563rem);
}

h5 {
  font-size: clamp(1rem, 3vw, 1.25rem);
}

a {
  text-decoration: none;
}

p {
  font-size: clamp(0.8rem, 2.5vw, 1.1rem);
}
